<div class="pushable">
  <!-- the sidebar -->
  <div class="ui left vertical inverted labeled visible sidebar menu green" id="sidebar">
    <div class="item">
      <%= inline_svg 'logo-2', class: 'ui image logo' %>
    </div>
    <div>
      <%= link_to root_path, class: 'item' do %>
        <i class="dashboard icon"></i>
        Dashboard
      <% end %>
    </div>
    <div>
      <%= link_to sectors_path, class: 'item' do %>
        <i class="leaf icon"></i>
        Sectores
      <% end %>
    </div>
    <div>
      <%= link_to reports_path, class: 'item' do %>
        <i class="line chart icon"></i>
        Reportes
      <% end %>
    </div>
  </div>
  <!-- //sidebar -->

  <!-- the content -->
  <div class="pusher" id="content">
    <div class="ui cards four column grid">
      <div class="column">

      </div>
    </div>
  </div>
  <!-- //content -->
</div>
