<aside>
  <div id="sidebar"  class="nav-collapse ">
    <ul class="sidebar-menu" id="nav-accordion">
      <li class="sub-menu">
        <%= link_to sectors_path, class: 'white-text center' do %>
        <i class="fa fa-pagelines" aria-hidden="true"></i>
          Sectores
        <% end%>
      </li>
      <li class="sub-menu">
        <%= link_to reports_path, class: 'white-text center' do %>
        <i class="fa fa-line-chart" aria-hidden="true"></i>
        Reporte Grafico
        <% end %>
      </li>
      <li class="sub-menu"></li>
    </ul>
  </div>
</aside>
